@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 min-h-screen bg-white text-black antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}
